target/
*.o
*.a
*.so
*.d
test_fp
test_fp2
test_fp6
test_fp12
test_frobenius
test_inv_chain
test_sppark_fp
test_sppark_fp2
test_sppark_full
test_miller
test_miller_v2
test_miller_debug
test_miller_precomp
test_full_pairing
test_final_exp
test_easy_part
test_cyc_sq
test_sha256
test_bls_verify
test_lib
bench_lib
bench_full
bench_sppark
bench_bls_verify
bench_checkpoint_sha256
bench_context_overhead
bench_launch_overhead
bench_mem_pool
test_fused_decompress_msm
cpu_contention_bench
bench_merkle
bench_oracle_sha256
debug_batch
merkle_sha256
profile_bls_detail
profile_bls_overhead
profile_bls_split
test_fp_mul_asm
test_oracle_batch
test_oracle_sha256
test_parallel_sha256
test_sha256_1mib
test_sha256_domain
test_sha256_small
test_zkdl_fp_mul
bench_int64
test_alpha_trace
test_barrett
test_be_only
test_chain_debug
test_finalexp_debug
test_finalexp_trace
test_fp2_debug
test_h12_debug
test_mul_internals
test_normalize
test_profile_mul
test_quick
test_rns_bls_verify
test_rns_debug
test_rns_fp
test_rns_mul_debug
test_rns_pairing
test_rns_tower
test_rns_v2
test_rns_vs_rust
test_trace_residues
test_tred
test_v2_div
test_v2_no_barrett
test_fp64
test_tower64
Cargo.lock
__pycache__/
